.show {
  display: block;
}

.hide {
  display: none;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {from {
  opacity: 0.1;
}to {
  opacity: 1;
}}
.lds-dual-ring {
  display: block;
  width: 80px;
  height: 80px;
  margin:auto;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(247, 6, 6);
  border-color: rgb(243, 8, 8) transparent rgb(241, 14, 14) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.offer__slider-inner {
  display: flex;
  transition: 0.5s all;
}
.offer__slider-wrapper {
  overflow: hidden;
}


.carousel-indicators {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 15;
  display: flex;
  justify-content: center;
  margin-right: 15%;
  margin-left: 15%;
  list-style: none;
}

.dot {
  box-sizing: content-box;
  flex: 0 1 auto;
  width: 30px;
  height: 6px;
  margin-right: 3px;
  margin-left: 3px;
  cursor: pointer;
  background-color: #fff;
  background-clip: padding-box;
  border-top: 10px solid transparent;
  border-bottom: 10px solid transparent;
  opacity: .5;
  transition: opacity .6s ease;
}

.offer__slider {
  position: relative;
}

.active {
  background-color: black;
}