.show {
  display: block;
}

.hide {
  display: none;
}
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}
@keyframes fade {from {
  opacity: 0.1;
}to {
  opacity: 1;
}}
.lds-dual-ring {
  display: block;
  width: 80px;
  height: 80px;
  margin:auto;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 64px;
  height: 64px;
  margin: 8px;
  border-radius: 50%;
  border: 6px solid rgb(247, 6, 6);
  border-color: rgb(243, 8, 8) transparent rgb(241, 14, 14) transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
